<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <script type="text/javascript" src="/scripts/confirm-jquery.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <% include ./partials/_nav-bar %>

    <!-- Content -->
    <main class='container'>
      <section class='row'>
        <div class='col-xs-offset-1 col-md-offset-6'></div>
        <button class='btn-custom col-xs-4 .col-xs-offset-1'>Poll Invitations</button>
        <div class='well col-xs-12 col-sm-8 .col-xs-offset-1'>
          <form method=POST action='/'>
            <p>Email: <input class='form-control col-xs-12 col-md-4' type="email" name="email"></p>
            <p>Question: <input class='form-control col-xs-12 col-md-4' type="text" name="question"></p>
            <p>Date: <input class='form-control col-xs-12 col-md-4'  type="datetime-local" name="date"></p>

            <div class='form-group'>
              <label class='control-label'>Option 1: </label>
              <input class='form-control col-xs-12 col-sm-6' type='text' name="option" placeholder='What do you want to do?'>
              // need to change the jquery to options
            </div>

            <div class='form-group field faded visible'>
              <label class='control-label'>Option 2: </label>
              <input class='col-xs-12 col-sm-6 form-control' type="text" name="option" placeholder='What do you want to do?'>
            </div>

            <input class='btn-small' type="submit" value="Send Invites">
          </form>
        </div>
      </section>

    </main>
  </body>
</html>
