@import 'base.scss'; 

.container {
  .row {
    .btn-custom {
      background-color: $red;
      padding: 22px 4%;
      border-radius: 5px;
      border: 1px solid darkred; 
      cursor: pointer;
      text-align: center;
      font-size: 200%; 
      color: snow;
      z-index: 1;  
      .well {
        background-color: $lightred; 
      }
    }
    .btn-custom:hover {
      background-color: $lightred; 
    }
    .btn-custom:active {
      background-color: $darkred; 
    }
  }
}

.btn-small {
  background-color: $red;
  border: 1px solid darkred; 
  margin-top: 10px; 
  border-radius: 2px; 
  color: snow; 
  font-size: 120%;
}
.btn-small:hover {
  background-color: $lightred; 
}
.btn-small:active {
  background-color: $darkred; 
}

.transition { 
  transition: 300ms; 
}

.none {
  visibility: visible; 
  transition: 300ms; 
}

.visible {
  visibility: visible; 
}

.faded {
  opacity: .5; 
}

.unfaded {
  opacity: 1; 
}

.empty-space {
  margin-top: 10px; 
}